<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Display</title>
</head>
<body>
    {% include  'header.html' %}
    <h1>Product display</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for pro in products%}
            <tr>
                <td>{{pro.name}}</td>
                <td>{{pro.category}}</td>
                <td>{{pro.price}}</td>
            </tr>
            {% endfor %}.
        </tbody>
    </table>
    {% endif %}
    {% include  'footer.html' %}
</body>
</html>